p {
    color: #2ecc71;
    font-family: 'Cambay', sans-serif;
    font-weight: 900;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

body {
    background: #2ecc71;
}

.quote {
    color: #2ecc71;
    font-family: 'Cambay', sans-serif;
    font-weight: 800;
}

.author {
    color: #2ecc71;
    font-family: 'Cambay', sans-serif;
    font-weight: 400;
}

.jumbo_margin {
    margin-top: 80px;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.button_color {
    background: #2ecc71;
    border: 0px solid transparent;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.social {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #27ae60;
    border-color: #27ae60; /*set the color you want here*/
    outline: 0;
}

